In [5]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import sqlite3

In [10]:
# Read DF from SQLite DB
conn = sqlite3.connect("finals.db")
df = pd.read_sql_query("SELECT * FROM results", conn)
df.head()

,index,Date,COAST,EAST,FAR_WEST,NORTH,NORTH_C,SOUTHERN,SOUTH_C,WEST,KDAL_TemperatureF,KHOU_TemperatureF,KSAT_TemperatureF
0,0,2014-01-01 00:00:00,8913.01,1491.29,1783.56,968.27,11923.53,3230.89,6191.00,1312.92,68.0,62.1,60.1
1,1,2014-01-01 07:00:00,8665.54,1588.44,1819.77,1074.47,13154.07,3155.70,6492.82,1443.59,39.9,48.0,43.0
2,2,2014-01-01 08:00:00,8661.20,1573.47,1818.99,1064.53,12956.24,3159.13,6427.81,1425.48,39.0,48.0,41.0
3,3,2014-01-01 09:00:00,8778.05,1531.44,1784.43,1048.56,12628.14,3200.12,6206.40,1366.63,37.9,48.0,42.1
4,4,2014-01-01 10:00:00,8759.46,1459.10,1774.87,999.31,12160.81,3201.32,6065.07,1297.79,37.9,48.0,45.0

In [21]:
# Select for COAST and HOUSTON, for instance
df = df[["Date", "COAST", "KDAL_TemperatureF"]]
df["Date"].dtype

dtype('O')